<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yuyang.fitsystemwindowstestdrawer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:targetSdkVersion="9"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--网络状态访问权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--录制音频的权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--调用摄像头的权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--录制视频权限-->
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <!--拨打电话的权限-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--读取本机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:largeHeap="true"
        android:persistent="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".androidLAnimationAbout.OptionsCompatActivity"/>
        <activity android:name=".androidLAnimationAbout.AdapterDetailActivity"/>
        <activity
            android:name=".preferenceAbout.PreferenceDemo"/>
        <activity
            android:name=".MetricsAbout.MetricsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".horizontalFling.HorizontalFlingActivity"/>
        <activity android:name=".userDefinedWidget.UserDefinedWidgetActivity"/>
        <activity android:name=".userDefinedWidget.ViewDragHelperActivity"/>
        <activity android:name=".userDefinedWidget.VerticalLinearLayoutActivity"/>
        <activity android:name=".userDefinedWidget.GestureLockActivity"/>
        <activity android:name=".userDefinedWidget.QQSlidingMenu.SlidingMenuActivity1"/>
        <activity android:name=".userDefinedWidget.QQSlidingMenu.SlidingMenuActivity2"/>
        <activity android:name=".userDefinedWidget.ClipImageActivity"/>
        <activity android:name=".userDefinedWidget.ClipImageResultActivity"/>
        <activity android:name=".userDefinedWidget.GamePintuActivity"/>
        <activity android:name=".userDefinedWidget.FlowLayoutActivity"/>
        <activity android:name=".userDefinedWidget.CircleImageActivity"/>
        <activity android:name=".userDefinedWidget.GuaguakaActivity"/>
        <activity android:name=".userDefinedWidget.weChatTabIndicator.WeChatActivity"/>
        <activity android:name=".userDefinedWidget.LuckyPanActivity"/>
        <activity android:name=".mvp.activity.UserInfoMvpTest"/>
        <activity android:name=".listViewHolder.ListTestActivity"/>
        <activity android:name=".largeImage.BitmapRegionTestActivity"/>
        <activity android:name=".largeImage.LargeImageTestActivity"/>
        <activity android:name=".cardViewPager.CardViewPagerActivity"/>
        <activity android:name=".tantan.TantanActivity"/>
        <activity android:name=".animationAbout.AnimationActivity"/>
        <activity android:name=".animationAbout.PropertyAniActivity"/>
        <activity android:name=".animationAbout.PropertyAniXmlActivity"/>
        <activity android:name=".animationAbout.LayoutTransitionActivity"/>
        <activity android:name=".animationAbout.ViewAnimateActivity"/>
        <activity android:name=".animationAbout.ViewAnimationActivity"/>
        <activity android:name=".animationAbout.AnimationDrawableActivity"/>
        <activity android:name=".coordinatorLayoutAbout.MaterialDesignActivity"/>
        <activity android:name=".coordinatorLayoutAbout.MaterialDesignActivity2"/>
        <activity android:name=".coordinatorLayoutAbout.BehaviorActivity1"/>
        <activity android:name=".coordinatorLayoutAbout.BehaviorActivity2"/>
        <activity android:name=".coordinatorLayoutAbout.SwipeDismissBehaviorActivity"/>
        <activity android:name=".destWidget.DestWidgetActivity"/>
        <activity android:name=".sourceCodeAnalyze.SourceCodeAnalyzeActivity"/>
        <activity android:name=".sourceCodeAnalyze.layoutInflate.LayoutInflateActivity"/>
        <activity android:name=".sourceCodeAnalyze.touchEventDispatch.ViewTouchEventActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".recyclerViewSwipeRefresh.SwipeRefreshActivity"/>
        <activity android:name=".swipeBackActivity.SimpleSwipeBackActivity"
            android:theme="@style/SwipeBackTheme"/><!-- activity背景设置为透明-->
        <activity android:name=".customView.CustomActivity"
            android:theme="@style/ActivityTheme"/>
        <activity android:name=".customView.CustomActivity2"/>
            android:theme="@style/SwipeBackTheme"/>
        <activity android:name=".mediaPlayerAbout.MediaAboutActivity"/>
        <activity android:name=".mediaPlayerAbout.VideoActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".mediaPlayerAbout.AudioPlayerActivity"/>
        <activity android:name=".mediaPlayerAbout.RawAudioActivity"/>
        <activity android:name=".mediaPlayerAbout.SoundPoolActivity"/>
        <activity android:name=".mediaPlayerAbout.SurfaceActivity"/>
        <activity android:name=".mediaPlayerAbout.CameraIntentActivity"/>
        <activity android:name=".mediaPlayerAbout.CameraActivity"/>
        <activity android:name=".mediaPlayerAbout.CameraVideoIntentActivity"/>
        <activity android:name=".mediaPlayerAbout.MediaRecorderActivity"/>
        <activity android:name=".googleWidget.GoogleWidgetActivity"/>
        <activity android:name=".googleWidget.FlexboxLayoutActivity"/>
        <activity android:name=".googleWidget.DividerActivity"/>
        <activity android:name=".userDefinedWidget.ArcMenuAndZoomImageActivity"/>
        <activity android:name=".userDefinedWidget.HuaLangActivity"/>
        <activity android:name=".internetAbout.manager.ConnectivityStateActivity"/>
        <activity android:name=".telephony_sms.TelephonyAndSmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.CALL_BUTTON"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tel"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewPagerIndicator.PagerIndicatorActivity"/>
<!--－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->

        <!--一直运行在app生命过程中的service-->
        <service android:name=".service.BackgroundService"/>
<!--－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->

        <!--网络状态变化广播接收器-->
        <receiver android:name=".internetAbout.manager.ConnectivityChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 添加桌面小控件-->
        <receiver android:name=".destWidget.DestWidget" android:label="CurrentTime">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.yuyang.time_change.REFRESHED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dest_widget_info"/>
        </receiver>
        <!-- 添加桌面小控件 集合类-->
        <receiver android:name=".destWidget.DestStackWidget" android:label="CurrentTimeList">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dest_stack_widget_info"/>
        </receiver>
        <service android:name=".destWidget.MyRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>
