<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yuyang.fitsystemwindowstestdrawer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:targetSdkVersion="9"/>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".androidLAnimationAbout.OptionsCompatActivity"/>
        <activity android:name=".androidLAnimationAbout.AdapterDetailActivity"/>
        <activity
            android:name=".preferenceAbout.PreferenceDemo"/>
        <activity
            android:name=".MetricsAbout.MetricsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".horizontalFling.HorizontalFlingActivity"/>
        <activity android:name=".dragHelperTest.DefinedViewTest"/>
        <activity android:name=".mvp.activity.UserInfoMvpTest"/>
        <activity android:name=".listViewHolder.ListTestActivity"/>
        <activity android:name=".largeImage.BitmapRegionTest"/>
        <activity android:name=".largeImage.LargeImageTest"/>
        <activity android:name=".cardViewPager.CardViewPagerActivity"/>
        <activity android:name=".tantan.TantanActivity"/>
        <activity android:name=".animationAbout.PropertyAnimationActivity"/>
        <activity android:name=".coordinatorLayoutAbout.MaterialDesignActivity"/>
        <activity android:name=".coordinatorLayoutAbout.MaterialDesignActivity2"/>
        <activity android:name=".coordinatorLayoutAbout.BehaviorActivity1"/>
        <activity android:name=".coordinatorLayoutAbout.BehaviorActivity2"/>
        <activity android:name=".destWidget.DestWidgetActivity"/>
        <activity android:name=".LayoutInflateAbout.LayoutInflateActivity"/>

        <service android:name=".service.BackgroundService"/>

        <receiver android:name=".broadcastReceiver.PresentReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!--<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>-->
        </receiver>

        <!-- 添加桌面小控件-->
        <receiver android:name=".destWidget.DestWidget" android:label="CurrentTime">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.yuyang.time_change.REFRESHED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dest_widget_info"/>
        </receiver>
        <!-- 添加桌面小控件 集合类-->
        <receiver android:name=".destWidget.DestStackWidget" android:label="CurrentTimeList">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dest_stack_widget_info"/>
        </receiver>
        <service android:name=".destWidget.MyRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>
