<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yuyang"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".actionbar.OldActionBar"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".actionbar.NewToolbar"
                  android:theme="@style/ToolbarTheme"/>
        <activity android:name=".statusbar.ThemeStatusBar"
                  android:theme="@style/StatusBarTheme"/>
        <activity android:name=".statusbar.ThemeStatusBar2"
                  android:theme="@style/StatusBarTheme2"/>
        <activity android:name=".statusbar.FlagStatusBar"
                  android:theme="@style/StatusBarTag"/>
        <activity android:name=".statusbar.SystemBars1Activity"
                  android:theme="@style/StatusBarTag"/>
        <activity android:name=".statusbar.SystemBars2Activity"
                  android:theme="@style/StatusBarTag"/>
        <activity android:name=".statusbar.SystemBars3Activity"
                  android:theme="@style/StatusBarTag"/>
        <activity android:name=".statusbar.SystemBars4Activity"
                  android:theme="@style/StatusBarTag"/>
        <activity android:name=".statusbar.SystemBars5Activity"
                  android:theme="@style/StatusBarTag"/>
        <activity android:name=".statusbar.SystemBars6Activity"
                  android:theme="@style/StatusBarTag"/>
        <activity android:name=".statusbar.SystemBars7Activity"
                  android:theme="@style/ToolbarTheme"/>
    </application>

</manifest>